#display{
    -fx-font-size: 24px;
}

.numberButton {
    -fx-font-size: 18px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

.operatorButton {
    -fx-font-size: 18px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-background-color: #696969;
    -fx-text-fill: white;
}
#operatorButtonSQRT{
    -fx-font-size: 18px;
    -fx-pref-width: 130px;
    -fx-pref-height: 60px;
    -fx-background-color: #696969;
    -fx-text-fill: white;
}
#gridPane{
    -fx-alignment: TOP_CENTER;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-pref-height: 400;
    -fx-pref-width: 600;
}