#box{
    -fx-alignment: TOP_CENTER;
}
#hbox{
    -fx-pref-height: 150.0;
    -fx-pref-width: 600.0;
    -fx-alignment: CENTER;
}
#menu {
    -fx-font-size: 18px;
    -fx-background-color: #696969;
}
#menu .list-cell:selected {
    -fx-text-fill: white;
}

